{% extends 'cvs/base.html' %}

{% block title %}Add Work Experience - CV Builder{% endblock %}

{% block content %}
<div class="mt-4">
    <h2>Add Work Experience</h2>
    <hr />
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add Work Experience</button>
        <a href="{% url 'cvs:dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<!-- Add Flatpickr CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script type="text/javascript">
    flatpickr("#id_start_date", {
        dateFormat: "Y-m-d",
        allowInput: true
    });
    flatpickr("#id_end_date", {
        dateFormat: "Y-m-d",
        allowInput: true,
        defaultDate: null
    });
</script>
{% endblock %}
